body {
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
    padding: 15px 150px;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    align-items: center;
}

.links {
    margin-left: auto;
    font-size: 18px;
    gap: 16px;
}

.links a {
    color: #E5E7EB;
    text-decoration: none;
    margin: 0 10px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

.hero {
    display: flex;
    color: #F9FAF8;
    margin: 100px 0;
    gap: 50px;
}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.hero img {
    width: 50%;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

button.white{
    border: 1px solid #F9FAF8;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px 0 64px 0;
}

.infoHeader {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.items {
    margin-top: 32px;
    display: flex;
    gap: 52px;
    justify-content: center;
    flex-wrap: wrap;
}
 
.item {
    text-align: center;
    max-width: 200px;
}

.item img {
    width: 200px;
    border: 3px solid #3882F6;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 250px;


}

.quoteText{
    color: #1F2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.author {
    align-self: flex-end;
    font-weight: bold;
}



.callToAction {
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    color: #E5E7EB;
}